body {
    overflow-y: scroll;
}

footer {
    color: #AAA;
}

.nobg {
    background: none;
    background-color: inherit;
    border-top: #FFF
}

.bluebg {
    background-color: #000088;
    color: #FFFFFF
}

.bluebg > * > * > a {
    color: #DFDFDF;
    font-weight: bold
}

.bluebg > * > * > small {
    color: #FFF
}

tr:hover {
    background-color: #F9F9F9;
}

table {
    box-shadow: 0px 20px 20px -15px #DDD;
}

#songlist {
    border: solid 2px;
    border-color: #DDF;
    transition: border-color 1s ease 0s;
}

#songlist.loaded {
    border-color: #FFF;
}

.tr-first, .table-striped>tbody>tr:nth-of-type(odd).tr-first {
    background-color: #DDF;
    color: #000;
    font-weight: bold;
    transition: background-color 1s ease 0s, color 1s ease 0s, border-left-color 1s ease 0s;
    border-left: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
}

.tr-first.loaded, .table-striped>tbody>tr:nth-of-type(odd).tr-first.loaded, .tr-first.loaded > td.no-bg {
    background-color: inherit;
    color: #222;
    border-top: 2px solid #2222AA;
    border-left: 10px solid #2222AA;
}

.table > tbody > tr > td.loading-cell {
    padding-left: 100px;
    font-size: 15px;
    color: #EEEEEE;
    font-weight: bold;
}

.form-control, .input-group-addon, .bootstrap-datetimepicker-widget, .datepicker > div > table {
    font-size: 20px
}
